<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <scoreSolrConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
          <indexAllFields>true</indexAllFields>
          <initializeOnAdd>false</initializeOnAdd>
          <fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
            <fieldTypes hint="raw:AddFieldByFieldTypeName">
              <fieldType fieldTypeName="custom treelist" returnType="string" />
            </fieldTypes>
          </fieldMap>
          <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="meta keywords">Score.Custom.Indexing.KeywordTextField, Score.Custom</field>
              <field fieldName="url" returnType="string">Score.Custom.Indexing.CurrentItemLinkField, Score.Custom</field>
              <field fieldName="facet text">Score.Custom.Indexing.FacetTextField, Score.Custom</field>
              <field fieldName="facet ids" storageType="YES" indexType="UNTOKENIZED" returnType="stringCollection">Score.Solr.ComputedFields.FacetIds, Score.Solr</field>
              <field fieldName="visualization">Score.Custom.Indexing.VisualizationField, Score.Custom</field>
            </fields>
          </documentOptions>
          <virtualFields ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/virtualFields" />
          <defaultSearchSecurityOption ref="contentSearch/indexConfigurations/defaultSearchSecurityOption" />
          <fieldReaders ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldReaders" />
          <indexFieldStorageValueFormatter ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/indexFieldStorageValueFormatter" />
          <indexDocumentPropertyMapper ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/indexDocumentPropertyMapper" />
          <documentBuilderType ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/documentBuilderType" />
        </scoreSolrConfiguration>       
        <solrHttpWebRequestFactory type="HttpWebAdapters.HttpWebRequestFactory, SolrNet" />
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>